#body {
    margin:0;
    background: skyblue;
    background: url(https://cdn.pixabay.com/photo/2015/04/23/21/59/hot-air-balloon-736879_960_720.jpg);
    background-size: cover;
}

#menu {
    background: white;
    color: black;
    height: 60px;
    width: 100%;
    padding: 20px;
    
    opacity: 0.5
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.menu-main li {
    display: inline-block;
    text-decoration: none;
    position: relative;
    line-height: 60px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    transition:.3s linear;
}
.menu-main a {
    text-decoration: none;
}
.menu-main a:hover {
    text-decoration: underline;
}

.menu-main a:visited {
    color: black;
}
